<div class="fk-top clearfix">
            <div class="fl">
                <div class="fk-logo"><span style="margin-left: -40px;font-weight: bold;font-family: 'Microsoft YaHei UI'">自动化检测平台</span></div>
            </div>
            <div class="fl" style="margin-left: 24px;">
                <a href="index.html">
                    <span class="fk-home"></span>
                </a>
                <a class="fk-refreshbtn" href="">
                    <span class="fk-refresh"></span>
                    刷新
                </a>
            </div>
            <div class="fr" style="margin-right: 35px;">
                <div class="fk-sayhello">
                    <span class="fk-username">毕发财，</span>你好！今天是 2021 年 5 月 20 日 星期三
                </div>
                <div class="fk-tips">
                    <span class="fk-tipsicon pr">
                        <i class="fk-reddot pa"></i>
                    </span>
                </div>
                <div class="fk-headportrait">
                    <span>
                        <img src="/static/images/headPortrait.png" alt="">
                    </span>
                </div>
            </div>
        </div>