<div class="fk-contentleft pa">
                <div class="fk-side-menu">
                    <div class="lsm-container">
                        <div class="lsm-scroll">
                            <div class="lsm-sidebar">
                                <!-- 一级菜单 -->
                                <ul>
                                    <li class="lsm-sidebar-item">
                                        <a href="/page?page=main.html" target="my_iframe">
                                            <i class="iconfont lsm-sidebar-icon iconshizhong01"></i>
                                            <span>总揽</span>
                                            <i class="iconfont lsm-sidebar-more"></i>
                                        </a>

                                    </li>
                                    <li class="lsm-sidebar-item lsm-sidebar-show">
                                        <a href="/page?page=case.html" target="my_iframe">
                                            <i class="iconfont lsm-sidebar-icon iconfengkonganquandunpai02"></i>
                                            <span>用例</span>
                                            <i class="iconfont lsm-sidebar-more"></i>
                                        </a>

                                    </li>
                                    <li class="lsm-sidebar-item">
                                        <a href="/page?page=monitoring.html" target="my_iframe">
                                            <i class="iconfont lsm-sidebar-icon icondiqiu03"></i>
                                            <span>实时监测</span>
                                            <i class="iconfont lsm-sidebar-more"></i>
                                        </a>

                                    </li>
                                    <li class="lsm-sidebar-item">
                                        <a href="/page?page=conclusion.html" target="my_iframe">
                                            <i class="iconfont lsm-sidebar-icon iconyewumingxi04"></i>
                                            <span>测试结论</span>
                                            <i class="iconfont lsm-sidebar-more"></i>
                                        </a>
                                        <!-- 二级菜单 -->
                                        <ul>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>测试结论</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>测试结论</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a class="" href="javascript:;">
                                                    <span>测试结论</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>测试结论</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="fk-logoicon"></div>
            </div>
