<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试结论</title>

    <link href="{{ url_for('static',filename ='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename ='bootstrap/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename ='bootstrap/css/plugins/chosen/chosen.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename ='bootstrap/css/style.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename ='css/easy.css') }}" rel="stylesheet">

    <link href="{{ url_for('static',filename ='bootstrap/css/animate.min.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static',filename ='echart5.1.1/echarts.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='echart5.1.1/theme/custom.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static',filename ='js/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='bootstrap/laydate/laydate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='js/template-web.js') }}"></script>

</head>
<body>

<!--选择框-->
<div class="form-group" style="margin-top: 5px">
    <div class="input-group">
        <select data-placeholder="选择项目" style="width: 240px" class="myselect" tabindex="2">
            <option value="">请选择项目</option>
            <option value="110000" hassubinfo="true">新债券</option>
            <option value="120000" hassubinfo="true">批处理</option>
            <option value="130000" hassubinfo="true">滚动</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-calendar-times-o" style="margin-left: 4px;margin-top:10px;position: absolute"></i>
        <input type="text" class="myselect" style="width: 240px;text-align: center" placeholder="选择测试日期" id="test10">

    </div>
</div>
<!--选择框 end-->

<!--饼图-->
<div class="row" style="border-top: 1px solid gainsboro;margin-top: -8px">
    <div style="margin-left: 20px;"><h2 style="font-family: 'Microsoft YaHei UI';font-weight: bolder;color: #18465d">
        测试日期 2021-04-20</h2></div>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="height:280px;margin-right: 70%;margin-top: -40px"></div>
</div>
<!--饼图 end-->

<!--列表-->
<div style="background-color: #dcd9c082;height: 45px;">
    <div style="position: absolute;margin-top: 9px;">
        <span style="font-family: 'STHupo,Verdana,Sans-serif';font-weight: bolder;font-size: 18px;color: black">测试执行明细</span>
    </div>
</div>
<div>
    <table class="table table-responsive" id="test_data">
    </table>
</div>

<!--列表end-->


<script type="text/javascript">

    $(function () {

        // 1.加载日期插件
        laydate.render({
            elem: '#test10'
        });


        // 2.加载报表
        show_chart();


        // 3.加载执行结果

        load_data();


    });


    function load_data() {
        $.post("{{ url_for('test_data') }}", {
            platform: 'xzq',
            testDate: '2021-04-20'

        }, function (result) {
            if (result.code == 200) {
                var html = template('testTemplate', result);
                document.getElementById('test_data').innerHTML = html;
            }

        })

    }

    function show_chart() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'), 'macarons');
        var option = get_chart_option()
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }


    function get_chart_option() {
        var option = {
            title: {
                // text: '某站点用户访问来源',
                // subtext: '纯属虚构',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            // legend: {
            //     orient: 'vertical',
            //     left: 'left',
            // },
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '50%',
                    data: [
                        {value: 1048, name: '搜索引擎'},
                        {value: 735, name: '直接访问'},
                        {value: 580, name: '邮件营销'},
                        {value: 484, name: '联盟广告'},
                        {value: 300, name: '视频广告'}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        return option;
    }


</script>
{% raw %}
<script id="testTemplate" type="text/html">

    <div>
        <tr style="background-color: #aaa;height: 50px;font-weight: bold;font-family: 'Microsoft YaHei UI';color: black">
            <th>用例编号</th>
            <th>用例名称</th>
            <th>环境号</th>
            <th>环境版本</th>
            <th>执行轮次</th>
            <th>测试结果</th>
            <th>测试结论</th>
        </tr>
        {{ each dataList as value }}
        <tr style="height: 50px">
            <td>{{ value.case_num }}</td>
            <td><span class="text-success">{{ value.case_name }}</span></td>
            <td><span class="text-primary">{{ value.env }}</span></td>
            <td><span class="text-success">{{ value.env_version }}</span></td>
            <td><span class="text-success">{{ value.exec_num }}</span></td>
            <td>
                {{if value.result=='通过'}}
                <span class="text-navy">{{ value.result }}</span>
                {{else}}
                <span class="text-danger">{{ value.result }}</span>
                {{/if}}

            </td>
            <td>{{ value.conclusion }}</td>
        </tr>
        {{ /each }}
    </div>

</script>
{% endraw %}
</body>
</html>