<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自动化检测平台-结论</title>
    <!--引入公共组件-->
    <script type="text/javascript" src="{{ url_for('static',filename ='css/commonCSS.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='js/commoms.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static',filename ='echart5.1.1/echarts.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='echart5.1.1/theme/custom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='echart5.1.1/theme/macarons.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static',filename ='js/template-web.js') }}"></script>
</head>

<body>
<div class="fk-content pr">
    <!-- 顶部 -->
    <div id="header"></div>
    <div class="fk-cont">
        <!-- 左边导航 -->
        <div id="side"></div>
        <!-- 主体部分 -->
        <div class="fk-contentright">

            <!--选择框-->
            <div class="form-group" style="margin-top: 5px">
                <div class="input-group">
                    <select id="project_tab" data-placeholder="选择项目" style="width: 240px" class="myselect"
                            onchange="load_test_date(this.value)" tabindex="2">
                        <option value="0">请选择项目</option>
                        <option value="xzq" hassubinfo="true">新债券</option>
                        <option value="bpc" hassubinfo="true">批处理</option>
                        <option value="roll" hassubinfo="true">滚动</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-calendar-times-o" style="margin-left: 4px;margin-top:10px;position: absolute"></i>
                    <input type="text" class="myselect" style="width: 240px;text-align: center" placeholder="选择测试日期"
                           id="test18">

                </div>
            </div>
            <!--选择框 end-->

            <div style="border: 1px solid #e7eaec;box-shadow: 0 0 8px 2px #eee">
                <!--关键指标-->
                <div style="height: 45px;margin-top: 20px;">
                    <div style="position: absolute;margin-top: 9px;margin-left: 27px">
                        <span style="font-family: 'STHupo,Verdana,Sans-serif';font-weight: bolder;font-size: 18px;color: black;">测试日期 <span id="currentDate">2021-05-20</span></span>
                    </div>
                </div>
                <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                <!--<div id="main" style="height:280px;margin-right: 83%;margin-top: -24px"></div>-->
                <div id="main" style="height:280px;margin-right: 70%;margin-top: -24px"></div>
                <!--关键指标end-->


                <!--版本趋势-->
                <div style="height: 45px;margin-top: 24px;">
                    <div style="position: absolute;margin-top: 9px;margin-left: 27px">
                        <span style="font-family: 'STHupo,Verdana,Sans-serif';font-weight: bolder;font-size: 18px;color: black;">测试执行明细</span>
                    </div>
                </div>

                <div style="margin-left: 25px;margin-top: 18px;">
                    <table class="table table-responsive" id="test_data" style="max-width: 98%">
                    </table>
                </div>

            </div>

            <script type="text/javascript">

                // 定义全局变量
                var _lay_d = null;//时间插件
                var myChart = null;//echart对象
                var option = null;//渲染数据对象
                $(function () {

                    $("#header").load("header.html");
                    $("#side").load("side.html");
                    $("#footer").load("footer.html");

                    // 1.加载日期插件
                    var mark = {
                        '0-10-14': '生日',
                        '0-12-31': '跨年', //每年的日期
                        '0-6-01': '上线', //每月某天
                        '0-5-31': '交付',
                        '2017-8-15': '', //如果为空字符，则默认显示数字+徽章
                        '2099-10-14': '呵呵'
                    };

                    load_date(mark);

                    // 2.加载报表 饼图
                    show_chart();


                    // 3.加载执行结果 列表

                    load_data('','');
                });

                /**
                 * 根据项目，加载对应的测试时间列表，将列表绑定到日历
                 * @param project_name
                 */
                function load_test_date(project_name) {
                    if (project_name != 0) {
                        $.post("{{ url_for('simple_page.get_date_by_project') }}", {
                            project_name: project_name

                        }, function (result) {
                            if (result.code == 200) {
                                var data_list = result.date_list;
                                var mark = {}
                                for (let i = 0; i < data_list.length; i++) {

                                    mark[data_list[i]] = '测试';
                                }
                                //修改测试日期
                                _lay_d.config.mark = mark;
                                //使修改后的数据生效
                                $('.layui-icon laydate-icon laydate-prev-m').trigger("click");//上一月
                                $('.layui-icon laydate-icon laydate-next-m').trigger("click");//下一月

                            } else {
                                return layer.msg(result.msg);
                            }


                        })
                    } else {
                        return layer.msg("请先选择一个项目！");
                    }

                }

                /**
                 * 初始化，加载时间日历插件
                 * @param mark
                 */
                function load_date(mark) {

                    //自定义重要日
                    _lay_d = laydate.render({
                        elem: '#test18',
                        //开启公历节日
                        calendar: true
                        , mark: mark
                        , done: function (value, date) {
                            if (date.year === 2021 && date.month === 6 && date.date === 1) { //点击2017年8月15日，弹出提示语
                                alert('这天数据异常,无需测试');
                            } else {
                                //    点击时间后的事件，查询echart数据

                                var project_name = $("#project_tab").val();
                                var test_date = $("#test18").val();
                                if (project_name == 0) {
                                    return layer.msg("请先选择一个项目！");
                                } else {
                                    // console.log("查询echart数据:" + test_date);
                                    reload_chart_conclusion(project_name, test_date);
                                }

                            }
                        }
                    });

                }

                /**
                 * 首次初始化列表
                 * */
                function load_data(project_name,test_date) {
                    $.post("{{ url_for('simple_page.test_data') }}", {
                        project_name: project_name,
                        test_date: test_date

                    }, function (result) {
                        if (result.code == 200) {
                            var html = template('testTemplate', result);
                            document.getElementById('test_data').innerHTML = html;
                        }

                    })

                }

                /**
                 * 重新渲染echart最新数据
                 **/
                function reload_chart_conclusion(project_name, test_date) {

                    $.post("{{ url_for('simple_page.reload_chart_conclusion') }}", {
                        project_name: project_name,
                        test_date: test_date

                    }, function (result) {
                        console.log(result);
                        if (result.code == 200) {


                            document.getElementById('currentDate').innerText=test_date;
                            //更新第一列的值
                            option.series[0].data = result.series_list;
                            //更新echart
                            myChart.setOption(option);

                        //    更新列表
                            var html = template('testTemplate', result);
                            document.getElementById('test_data').innerHTML = html;


                        } else {
                            return layer.msg(result.msg);
                        }

                    })
                }

                function show_chart() {
                    // 基于准备好的dom，初始化echarts实例
                    myChart = echarts.init(document.getElementById('main'), 'customed');
                    option = get_chart_option()
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }


                function get_chart_option() {
                    var option = {
                        title: {
                            // text: '某站点用户访问来源',
                            // subtext: '纯属虚构',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        // legend: {
                        //     orient: 'vertical',
                        //     left: 'left',
                        // },
                        series: [
                            {
                                name: '访问来源',
                                type: 'pie',
                                radius: '50%',
                                data: [
                                    {value: 1048, name: '搜索引擎'},
                                    {value: 735, name: '直接访问'},
                                    {value: 580, name: '邮件营销'},
                                    {value: 484, name: '联盟广告'},
                                    {value: 300, name: '视频广告'}
                                ],
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    return option;
                }


            </script>
            <!-- 公司信息 -->
            <div id="footer"></div>
        </div>

    </div>
</div>

{% raw %}
<script id="testTemplate" type="text/html">

    <div>
        <tr style="height: 50px;">
            <th>用例编号</th>
            <th>用例名称</th>
            <th>环境号</th>
            <th>环境版本</th>
            <th>执行轮次</th>
            <th>测试结果</th>
            <th>测试结论</th>
        </tr>
        {{ each dataList as value }}
        <tr style="height: 50px">
            <td>{{ value.case_num }}</td>
            <td><span class="text-success">{{ value.case_name }}</span></td>
            <td><span class="text-primary">{{ value.env }}</span></td>
            <td><span class="text-success">{{ value.env_version }}</span></td>
            <td><span class="text-success">{{ value.exec_num }}</span></td>
            <td>
                {{if value.result=='通过'}}
                <span class="text-navy">{{ value.result }}</span>
                {{else}}
                <span class="text-danger">{{ value.result }}</span>
                {{/if}}

            </td>
            <td>{{ value.conclusion }}</td>
        </tr>
        {{ /each }}
    </div>

</script>
{% endraw %}
</body>

</html>