<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="{{ url_for('static',filename ='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename ='bootstrap/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename ='bootstrap/css/plugins/chosen/chosen.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename ='bootstrap/css/style.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename ='css/easy.css') }}" rel="stylesheet">

    <link href="{{ url_for('static',filename ='bootstrap/css/animate.min.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static',filename ='echart5.1.1/echarts.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='echart5.1.1/theme/custom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='echart5.1.1/theme/macarons.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='js/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename ='bootstrap/laydate/laydate.js') }}"></script>
    <style>
        .quotabox {
            height: 130px;
            display: flex;
            flex-direction: row;
        }

        .quota {
            flex: 1;
            height: 100%;
            background-color: #eaddcceb;
            /*background-color: #e4b9b9;*/
            /*border:1px solid #e7eaec;*/
            border: 1px solid white;
        }

        .quota > ul {
            list-style: none;
            position: absolute;
            margin-top: 18px;
            margin-left: 5px
        }

        .quota > ul > li {
            margin: 10px 7px
        }
    </style>
</head>
<body>
<!--选择框-->
<div class="form-group" style="margin-top: 5px">
    <div class="input-group">
        <select data-placeholder="选择项目" style="width: 240px" class="myselect" tabindex="2">
            <option value="">请选择项目</option>
            <option value="110000" hassubinfo="true">新债券</option>
            <option value="120000" hassubinfo="true">批处理</option>
            <option value="130000" hassubinfo="true">滚动</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-calendar-times-o" style="margin-left: 4px;margin-top:10px;position: absolute"></i>
        <input type="text" class="myselect" style="width: 240px;text-align: center" placeholder="选择测试日期" id="test10">

    </div>
</div>
<!--选择框 end-->

<div style="border: 1px solid #e7eaec">
<!--关键指标-->
<div style="background-color: #dcd9c082;height: 45px;">
    <div style="position: absolute;margin-top: 9px;margin-left: 27px">
        <span style="font-family: 'STHupo,Verdana,Sans-serif';font-weight: bolder;font-size: 18px;color: black;">关键指标</span>
    </div>
</div>
<div class="quotabox">
    <div class="quota">
        <ul>
            <li>用例总数</li>
            <li><span style="color: black;font-weight: bolder;font-size: 25px">20</span></li>
            <li>上版本&nbsp;<i class="fa fa-long-arrow-up"
                                                     style="color: #55a532;font-weight: lighter;font-size: 18px"></i>&nbsp;0.02%
            </li>
        </ul>
    </div>
    <div class="quota">
        <ul>
            <li>历史平均通过率</li>
            <li><span style="color: black;font-weight: bolder;font-size: 25px">88.88%</span>
            </li>
            <li>上版本&nbsp;<i class="fa fa-long-arrow-down"
                                                     style="color: firebrick;font-weight: lighter;font-size: 18px"></i>&nbsp;0.02%
            </li>
        </ul>
    </div>
    <div class="quota">
        <ul>
            <li>执行总次数</li>
            <li><span style="color: black;font-weight: bolder;font-size: 25px">1024</span></li>
            <li>上轮次&nbsp;<i class="fa fa-long-arrow-up"
                                                     style="color: #55a532;font-weight: lighter;font-size: 18px"></i>&nbsp;0.02%
            </li>
        </ul>
    </div>
    <div class="quota">
        <ul>
            <li>测试总版本数</li>
            <li><span style="color: black;font-weight: bolder;font-size: 25px">88.88%</span>
            </li>
            <li>上版本&nbsp;<i class="fa fa-long-arrow-down"
                                                     style="color: firebrick;font-weight: lighter;font-size: 18px"></i>&nbsp;1
            </li>
        </ul>
    </div>
    <!-- <table>
         <tr>
             <td>
                 <div class="quota" style="height: 80px;background:#33CC66;"></div>
             </td>
             <td>
             </td>
             <td>
                 <div class="quota" style="height: 80px;background-color: #0a6aa1"></div>
             </td>
             <td>
                 <div class="quota" style="height: 80px;background-color: #0a6aa1"></div>
             </td>
         </tr>
     </table>-->


</div>
<!--关键指标end-->


<!--版本趋势-->
<div style="background-color: #dcd9c082;height: 45px;">
    <div style="position: absolute;margin-top: 9px;margin-left: 27px">
        <span style="font-family: 'STHupo,Verdana,Sans-serif';font-weight: bolder;font-size: 18px;color: black;">版本测试趋势</span>
    </div>
</div>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="height:400px;margin-top: 18px"></div>
</div>
<script type="text/javascript">


    $(function () {
        // 1.加载日期插件
        laydate.render({
            elem: '#test10'
        });

        // 2.加载报表
        show_chart();
    });


    function show_chart() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'), 'customed');
        var option = get_chart_option()
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }


    function get_chart_option() {
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎', '百度', '谷歌', '必应', '其他']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '直接访问',
                    type: 'bar',
                    emphasis: {
                        focus: 'series'
                    },
                    data: [320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name: '邮件营销',
                    type: 'bar',
                    stack: '广告',
                    emphasis: {
                        focus: 'series'
                    },
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: '联盟广告',
                    type: 'bar',
                    stack: '广告',
                    emphasis: {
                        focus: 'series'
                    },
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: '视频广告',
                    type: 'bar',
                    stack: '广告',
                    emphasis: {
                        focus: 'series'
                    },
                    data: [150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: '搜索引擎',
                    type: 'bar',
                    data: [862, 1018, 964, 1026, 1679, 1600, 1570],
                    emphasis: {
                        focus: 'series'
                    },
                    markLine: {
                        lineStyle: {
                            type: 'dashed'
                        },
                        data: [
                            [{type: 'min'}, {type: 'max'}]
                        ]
                    }
                },
                {
                    name: '百度',
                    type: 'bar',
                    barWidth: 5,
                    stack: '搜索引擎',
                    emphasis: {
                        focus: 'series'
                    },
                    data: [620, 732, 701, 734, 1090, 1130, 1120]
                },
                {
                    name: '谷歌',
                    type: 'bar',
                    stack: '搜索引擎',
                    emphasis: {
                        focus: 'series'
                    },
                    data: [120, 132, 101, 134, 290, 230, 220]
                },
                {
                    name: '必应',
                    type: 'bar',
                    stack: '搜索引擎',
                    emphasis: {
                        focus: 'series'
                    },
                    data: [60, 72, 71, 74, 190, 130, 110]
                },
                {
                    name: '其他',
                    type: 'bar',
                    stack: '搜索引擎',
                    emphasis: {
                        focus: 'series'
                    },
                    data: [62, 82, 91, 84, 109, 110, 120]
                }
            ]
        };
        return option;
    }

    // 基于准备好的dom，初始化echarts实例
    // var myChart = echarts.init(document.getElementById('main'),'customed');


</script>
</body>
</html>