<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/font/iconfont.css">
    <script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/static/js/fk-side-menu.js"></script>
    <script type="text/javascript" src="/static/js/fk-common.js"></script>
</head>

<body>
    <div class="fk-content pr">
        <!-- 顶部 -->
        <div class="fk-top clearfix">
            <div class="fl">
                <div class="fk-logo">自动化检测平台</div>
            </div>
            <div class="fl" style="margin-left: 24px;">
                <a href="index.html">
                    <span class="fk-home"></span>
                </a>
                <a class="fk-refreshbtn" href="">
                    <span class="fk-refresh"></span>
                    刷新
                </a>
            </div>
            <div class="fr" style="margin-right: 24px;">
                <div class="fk-sayhello">
                    <span class="fk-username">毕发财，</span>你好！今天是 2020 年 1 月 15 日 星期三
                </div>
                <div class="fk-tips">
                    <span class="fk-tipsicon pr">
                        <i class="fk-reddot pa"></i>
                    </span>
                </div>
                <div class="fk-headportrait">
                    <span>
                        <img src="/static/images/headPortrait.png" alt="">
                    </span>
                </div>
            </div>
        </div>
        <div class="fk-cont" style="height: 100%;">
            <!-- 左边导航 -->
            <div class="fk-contentleft pa">
                <div class="fk-side-menu">
                    <div class="lsm-container">
                        <div class="lsm-scroll">
                            <div class="lsm-sidebar">
                                <!-- 一级菜单 -->
                                <ul>
                                    <li class="lsm-sidebar-item lsm-sidebar-show">
                                        <a href="总揽.html">
                                            <i class="iconfont lsm-sidebar-icon iconshizhong01"></i>
                                            <span>总揽</span>
                                            <i class="iconfont lsm-sidebar-more"></i>
                                        </a>
                                        <!-- 二级菜单 -->
                                        <!-- <ul>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>总揽</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>用例</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a class="" href="javascript:;">
                                                    <span>实时监测</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>测试结论</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-item">
                                                <a class="lsm-sidebar-itema" href="javascript:;">
                                                    <i class="my-icon lsm-sidebar-icon "></i>
                                                    <span>客户维护人员登记</span>
                                                    <i class="iconfont lsm-sidebar-more"></i>
                                                </a>
                                                <ul>
                                                    <li class="lsm-sidebar-itemt">
                                                        <a href="javascript:;">
                                                            <span>人员登记</span>
                                                        </a>
                                                    </li>
                                                    <li class="lsm-sidebar-itemt">
                                                        <a href="javascript:;">
                                                            <span>人员登记</span>
                                                        </a>
                                                    </li>
                                                    <li class="lsm-sidebar-itemt">
                                                        <a href="javascript:;">
                                                            <span>人员登记</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="lsm-sidebar-item lsm-sidebar-itemd">
                                                <a class="lsm-sidebar-itema" href="javascript:;">
                                                    <i class="my-icon lsm-sidebar-icon "></i>
                                                    <span>客户评级</span>
                                                    <i class="iconfont lsm-sidebar-more"></i>
                                                </a>
                                                <ul>
                                                    <li class="lsm-sidebar-itemt">
                                                        <a href="javascript:;">
                                                            <span>人员登记</span>
                                                        </a>
                                                    </li>
                                                    <li class="lsm-sidebar-itemt">
                                                        <a href="javascript:;">
                                                            <span>人员登记</span>
                                                        </a>
                                                    </li>
                                                    <li class="lsm-sidebar-itemt">
                                                        <a href="javascript:;">
                                                            <span>人员登记</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li class="lsm-sidebar-item">
                                        <a href="用例.html">
                                            <i class="iconfont lsm-sidebar-icon iconfengkonganquandunpai02"></i>
                                            <span>用例</span>
                                            <i class="iconfont lsm-sidebar-more"></i>
                                        </a>
                                        <!-- 二级菜单 -->
                                        <!-- <ul>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>客户信息管理</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>客户风险视图</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a class="" href="javascript:;">
                                                    <span>集团管理</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>关联企业管理</span>
                                                </a>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li class="lsm-sidebar-item">
                                        <a href="实时监测.html">
                                            <i class="iconfont lsm-sidebar-icon icondiqiu03"></i>
                                            <span>实时监测</span>
                                            <i class="iconfont lsm-sidebar-more"></i>
                                        </a>
                                        <!-- 二级菜单 -->
                                        <!-- <ul>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>客户信息管理</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>客户风险视图</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a class="" href="javascript:;">
                                                    <span>集团管理</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>关联企业管理</span>
                                                </a>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li class="lsm-sidebar-item">
                                        <a href="测试结论.html">
                                            <i class="iconfont lsm-sidebar-icon iconyewumingxi04"></i>
                                            <span>测试结论</span>
                                            <i class="iconfont lsm-sidebar-more"></i>
                                        </a>
                                        <!-- 二级菜单 -->
                                        <ul>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>测试结论</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>测试结论</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a class="" href="javascript:;">
                                                    <span>测试结论</span>
                                                </a>
                                            </li>
                                            <li class="lsm-sidebar-items">
                                                <a href="javascript:;">
                                                    <span>测试结论</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="fk-logoicon"></div>
            </div>
            <!-- 主体部分 -->
            <div class="fk-contentright">
                <div class="fk-subject">
                    <div class="fk-mainsection">
                        <div class="fk-maintd clearfix">
                            <div class="fl">
                                111
                            </div>
                        </div>
                        <div class="fk-maintb">

                        </div>
                    </div>
                </div>
                <!-- 公司信息 -->
                <div class="fk-bottom">
                    <div>
                        <span class="fk-bottomspan">帮助</span>
                        <span class="fk-bottomspan">隐私</span>
                        <span class="fk-bottomspan">条款</span>
                    </div>
                    <p class="fk-bottomp">Copyright @ 2018 XXXX国际有限公司</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {



        })
    </script>

</body>

</html>