<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--<link rel="stylesheet" href="/static/css/reset.css">-->
    <!--<link rel="stylesheet" href="/static/css/index.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/static/font/iconfont.css">-->
    <!--<script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>-->
    <!--<script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>-->
    <!--<script type="text/javascript" src="/static/js/fk-side-menu.js"></script>-->
    <!--<script type="text/javascript" src="/static/js/fk-common.js"></script>-->
    <style>
    </style>

</head>

<body>
<main style="display:table">
    <section style="display:table-row">
        <aside style="display:table-cell">
            <!--左侧栏内容-->
            111
        </aside>

        <article style="display:table-cell">
            <!--右侧栏内容-->
            2222
        </article>
    </section>
    <section style="display:table-row">
        <aside style="display:table-cell">
            <!--左侧栏内容-->
            333
        </aside>

        <article style="display:table-cell">
            <!--右侧栏内容-->
            4444
        </article>
    </section>
</main>

</body>

</html>